:root {
    --primary-color: #685155;
    --secondary-color: #19647E;
    --accent1-color: #CAB7A2;
    --accent2-color: #49C6E5;
    --text-color: #293252;
    
}

/* Fonts */
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    width: 900px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-family: "Parkinsans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--accent2-color);
}

h2 {
    font-family: "Parkinsans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
}

h3 {
    font-family: "Parkinsans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer nav a {
    text-decoration: none;
}

footer nav a img {
    max-height: 40px;
    padding: 7px;
}

.hero {
    position: relative;
}

#hero1 {
    display: block;
    width: 100%;
    height: auto;
    border: 10px;
}

#hero2 {
    position: absolute;
    top: 25px;
    left: 300px;
    /* background-color: #111111; */
}

#heroarticle {
    position: absolute;
    height: 150px;
    width: 100%;
    top: 130px;
    background-color: var(--accent1-color);
}

#hero3 {
    position:absolute;
    top: 16px;
    right: 13px;
    width: 175px;
    height: auto;
}

#hero4 {
    position: absolute;
    max-width: 700px;
    padding: 0px 10px 10px 13px;
    text-align: center;
}