:root {
    --heading-background-color: darkblue;
    --general-photo-border: 1px solid black;
    --box-shadow-general: 0 0 30px gray;
    --background-color-photo-general: #eee; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
}
main img {
    width: 150px;
    margin: 1rem;
    height: auto;
    border: var(--general-photo-border);
    background-color: var(--background-color-photo-general);
    padding: 2px;
    box-shadow: var(--box-shadow-general);
    float: right;
}
p {
    padding: 0px;
}
main {
    max-width: 840px;
}
aside {
    position:relative;
    width: 20rem;
    margin: 1rem;
    border: var(--general-photo-border);
    padding: 1rem;
    background-color: var(--background-color-photo-general);
    color:#333;
    text-align: center;
    /* box-shadow: var(--box-shadow-general); */
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 4px;
    color: white;
}
aside img {
    width: 200px;
    height: auto;
    text-align: center;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    clear: both;
}