

/* W04: Using CSS Flex and Grid on the Course Home Page step 7.*/

:root {
    --heading-background-color: darkblue;
    --general-photo-border: 1px solid black;
    --box-shadow-general: 0 0 30px gray;
    --background-color-photo-general: #eee; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    color: var(--heading-background-color);
    padding: 1rem;
    border-bottom: 1px solid #000;
}
main img {
    width: 150px;
    margin: 1rem;
    height: auto;
    border: var(--general-photo-border);
    background-color: var(--background-color-photo-general);
    padding: 2px;
    box-shadow: var(--box-shadow-general);
    float: right;
}
p {
    padding: 1rem;
}
main {
    grid-column: 2/3;
}
aside {
    position:relative;
    width: 20rem;
    margin: 1rem;
    border: var(--general-photo-border);
    padding: 1rem;
    background-color: var(--background-color-photo-general);
    color:#333;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    position: absolute;
    top: 27px;
    left: 100px;
    color: white;
}
aside img {
    width: 200px;
    height: auto;
    text-align: center;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}
.grid {
    display: grid;
    align-items: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    clear: both;
}